/* Empty message */
.empty-message {
    & .icon {
        width: 40px;
        height: 50px;
    }

    & .h3 {
        font-weight: 500;
    }

    & .h3 + p,
    & p + .btn {
        margin-top: 18px;
    }

    & .empty-message__share {
        max-width: 335px;
    }
}
