/* Notifications */
.notification {
    padding: 24px;
    font-size: 16px;
    font-family: var(--ff-lato);
    color: var(--color-blue-dark);

    & a {
        font-weight: 900;
    }
}

.notification--blue {
    background-color: hsla(204.3, 100%, 46.1%, .1);
    border: 1px solid var(--color-blue-vivid);
    border-radius: var(--radius-small);
}
