/* Hacks */
/* Custom styles for scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(59, 60, 70, .58039);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}
