/* Page - Activity */
.modal-sign-in-open {
    & .header {
        display: none;
    }

    & .modal__header {
        text-align: right;
        background-color: #fff;
    }

    & .modal__sign-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        & .btn {
            width: 100%;
        }
    }

    & .modal__footer {
        text-align: center;
    }
}
